body {
    display: flex;
    background: #000;
}

h1{
    color: #ff5151;
    font-size: 80px;
    position: absolute;
    left: 50px;
    top: 190px;
    z-index: 2;
}
h2{
    color: #ff5151;
    position: absolute;
    left: 60px;
    top: 200px;
    z-index: 3;
}
.caja1{
    width: 500px;
    height: 100px;
    background-color: transparent;
    color: #ffffff;
    position: absolute;
    left: 50px;
    bottom: 230px;
    font-size: 20px;
    text-align: left;
    padding-top: 5px;
    z-index: 1;
}
img{
    position: absolute;
    bottom: 20px;
    right: 150px;
    z-index: 3;
    
}

.b3 {
    position: absolute;
    display: block;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: #ff5151;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ff5151;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 1s;
    margin-left: 20px;
    top: 20px;
    left: 20px;
    
}
.b3:hover {
    transition-delay: 0s, 1s;
    color: #fff;
    box-shadow:
        0 0 10px #ff5151,
        0 0 20px #ff5151,
        0 0 40px #ff5151,
        0 0 80px #ff5151,
        0 0 160px #ff5151;
}
.b3::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: #ff5151;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;
    
}
.b3:hover:before {
    width: 100%;
}
.b5 {
    position: absolute;
    display: block;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: #ff5151;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ff5151;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 1s;
    margin-left: 20px;
    top: 20px;
    right: 20px;
    
}
.b5:hover {
    transition-delay: 0s, 1s;
    color: #fff;
    box-shadow:
        0 0 10px #ff5151,
        0 0 20px #ff5151,
        0 0 40px #ff5151,
        0 0 80px #ff5151,
        0 0 160px #ff5151;
}
.b5::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: #ff5151;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;
    
}
.b5:hover:before {
    width: 100%;
}
#hero {
    min-height: 100vh;
    position: relative;
}    
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #020202;
    opacity: 0.25;
    mix-blend-mode: overlay;
}