body {
    display: flex;
    background: #000;
}

h1{
    color: #fff56b;
    font-size: 80px;
    position: absolute;
    left: 310px;
    top: 90px;
    z-index: 2;
}
h2{
    color: #fff56b;
    position: absolute;
    left: 440px;
    top: 80px;
    z-index: 3;
    text-align: center;
}
.caja1{
    width: 500px;
    height: 100px;
    background-color: transparent;
    color: #ffffff;
    position: absolute;
    left: 370px;
    bottom: 320px;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    z-index: 1;
}
.caja2{
    width: 500px;
    height: 100px;
    background-color: transparent;
    color: #ffffff;
    position: absolute;
    right: 30px;
    bottom: 70px;
    font-size: 20px;
    text-align: right;
    padding-top: 5px;
    z-index: 2;
}
.a1{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 3;
    
}
.a2{
    position: absolute;
    top: 70px;
    right: 50px;
    z-index: 4;

}

.b3 {
    position: absolute;
    display: block;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: #fff56b;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #fff56b;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 1s;
    margin-left: 20px;
    top: 20px;
    left: 20px;
    
}
.b3:hover {
    transition-delay: 0s, 1s;
    color: #fff;
    box-shadow:
        0 0 10px #fff56b,
        0 0 20px #fff56b,
        0 0 40px #fff56b,
        0 0 80px #fff56b,
        0 0 160px #fff56b;
}
.b3::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: #fff56b;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;
    
}
.b3:hover:before {
    width: 100%;
}
.b5 {
    position: absolute;
    display: block;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: #fff56b;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #fff56b;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 1s;
    margin-left: 20px;
    top: 20px;
    right: 20px;
    
}
.b5:hover {
    transition-delay: 0s, 1s;
    color: #fff;
    box-shadow:
        0 0 10px #fff56b,
        0 0 20px #fff56b,
        0 0 40px #fff56b,
        0 0 80px #fff56b,
        0 0 160px #fff56b;
}
.b5::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: #fff56b;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;
    
}
.b5:hover:before {
    width: 100%;
}
#hero {
    min-height: 100vh;
    position: relative;
}    
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #020202;
    opacity: 0.25;
    mix-blend-mode: overlay;
}